.free{
    background: rgb(56, 56, 56);
    color: white;
    font-family: "Raleway", sans-serif;
    text-align: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    align-items: center;
}

.formheading{
    color: rgb(143, 134, 92);
    font-size: 30px;
    margin-right: 5px;
    font-family: "Rubik", sans-serif ;
    font-weight: 300;
    margin-bottom: 50px;
   
}

.labels{
    margin-bottom: 20px;
    text-align: left;
    padding-left: 15%;
    

}
input {
    
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

.form{
    text-align: center;
    border: solid;
    border-color:white;
    border-width: 1px;
    border-radius: 5px;
    width: 40%;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    margin-left: 30%;
    padding-bottom: 30px;

}

label{
    margin-right: 20px;
}