.index{
    background: rgb(56, 56, 56);
    padding-top: 10px;
    padding-bottom: 80px;
    display: flex;
}

.index ul{
    list-style: none;

}

.index ul li{
    font-size: 15px;
    color: rgb(143, 134, 92);
    font-family:"Raleway", sans-serif;
    width: 200px;
    line-height: 2.5;
    text-decoration: underline;
    text-decoration-color:rgb(68, 66, 66);
    text-decoration-thickness: 6px;
    cursor: pointer;
}

.index ul li:hover{
    text-decoration-color:rgb(143, 134, 92);
    color: #fff;
}

.index  h4{
    color: white;
    line-height: 2.8;
    font-family:"Raleway", sans-serif;
    font-weight: 400;
}

.i1,.i2,.i3{
    margin-right: 100px;
    
}
.social-icons{
    display: flex;
}

.social-icons img{
    width: 30px;
    background:rgb(143, 134, 92) ;
    margin-right: 5px;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
}
