.practise{
    background-color:rgb(56, 56, 56);
    width: 100%;
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
}

.practise p{
    font-size: 15px;
    color: rgb(166, 164, 164);
}
.col-1 p{
    text-align: left;
    padding-left: 40px;
    line-height: 1.5;
    width: 80%;
}

.col-1 button{
    margin-left: 50px;
}

.col-2 ul{
    list-style: none;
}

.icon-img{
    width: 60px;
    padding:12px;
    background: rgb(112, 110, 110);
    border-radius: 50%;
    margin-right: 15px;
}

.col-2 ul li{
    display: flex;
    padding-bottom: 20px;
}

.col-2 h4,.text-col p{
    text-align: left;
    font-family: "Raleway", sans-serif;
}

.col-2 h4{
    padding-bottom: 5px;
    color: rgb(143, 134, 92);
}

.last-line{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.last-line:hover p{
    color: white;
}

.last-line:hover img{
    background-color:rgb(143, 134, 92) ;
    border-radius: 3px;
}
.last-line p{
    color:rgb(143, 134, 92);
    margin-top: 30px;
    text-align: left;
    margin-right: 10px;
}

.last-line img{
    width: 20px;
    margin-top: 30px;

}

.p-head{
    display: flex;
}
.p-head h2{
    margin-right: 15px;
}